<p>Select sources</p>

<form (submit)="saveArticles()">
  <select multiple name="sources" [(ngModel)]="selectedSources" >
    <option *ngFor="let source of sources" [value]="source">
      <img src="{{source.urlsToLogos.small}}" /> <span>{{source.name}}</span>
    </option>
  </select>
  <button type="submit">Submit</button>
</form>
