:host {
  display: block;
  padding: 0 16px;
}

input {
  width: 250px;
}

select{
  widhth:250px;
  height: 500px;

}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}

img{
  width:5%;
  height:5%;
}
